*{
	margin      : 0 auto;
	padding     : 0;
	font-size   : 16px;
}
#pantalla{
	margin      : auto;
	width       : 1127px;
	height      : 1024px;
	border      : 0;
	
}
#escritorio {
	float       : left;
	width       : 1024px;
	height      : 840px;	
	border      : 1px solid;
	border-top  : 0px;
	margin      : 0 auto;		
	background  : #588DFF;
	
}


#lanzador{
	float       : left;
	width       : 100px;
	height      : 876px;
	border      : 1px solid;
	border-right: 0px;
	background  : rgba(68,113,255,0.5);
	margin      : 0 auto;
	margin-top  : 20px;
}

#barra{
	
	margin      : auto;
	margin-top  : 20px;
	float       : left;
	width       : 1024px;
	height      : 35px;
	background  : rgba(100,100,100,0.5);
	border      : 1px solid;
	
	
}
.ui-button{
	margin      : auto;
	size        : 10px;
	width       : 100px;
}
.ui-menu{
	width       : 250px;
	position    : absolute;
	
}
.ui-tabs{
	width       : 300px;
	position    : absolute;
	margin-left : 400px;
}
#datepicker{
	position    : absolute;
	margin      : 400px;
	margin-top  : 200px;
}
